body
{
    background-color: #DDDDDD;
    font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 100;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    min-width: 660px;
}

a
{
    color: black;
}


#title
{
    text-align: center;
    background-color: white;
    padding-top: 5px;
}

#menu
{
    text-align: center;
    background: #21b4e2;
    font-size: 0;
    border-bottom: 1px #21b4e2 outset;
}

.menuItemS
{
    font-size: 16px;
    display: inline-block;
    width: 19%;  
    max-width: 150px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: linear-gradient(#d6f9ff, #9ee8fa);
    border-left: 1px #21b4e2 inset;
}

.menuItemSR
{
    font-size: 16px;
    display: inline-block;
    width: 19%;  
    max-width: 150px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: linear-gradient(#d6f9ff, #9ee8fa);
    border-left: 1px #21b4e2 inset;
    border-right: 1px #21b4e2 inset;
}

.menuItemNS
{
    font-size: 16px;
    display: inline-block;
    width: 19%;  
    max-width: 150px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: linear-gradient(#21b4e2, #1e5799);
    border-left: 1px #21b4e2 inset;
}

.menuItemNSR
{
    font-size: 16px;
    display: inline-block;
    width: 19%;  
    max-width: 150px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: linear-gradient(#21b4e2, #1e5799);
    border-left: 1px #21b4e2 inset;
    border-right: 1px #21b4e2 outset;
}

.contentdiv
{
    width:95%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-left: 1px black outset;
    border-right: 1px black outset;
    border-bottom: 1px black outset;
    text-align: left;
}

.contentTitle
{
    text-align: center;
    font-size: 20px;
    min-height: 50px;
    line-height: 50px;
}

.contentblock
{
    border-top: 1px white inset;
    border-bottom: 1px black outset;  
    padding: 5px;
}

.contentImg
{
    max-width: 49%; 
    max-height: 400px;
    border: 1px solid black;
    
}