body
{
    background-color: #DDDDDD;
    font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 100;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

a
{
    text-decoration: none;
    color: black;
}

#imglogo
{
    max-width: 100px;
    width: 100px;
}

#imguol
{
    max-height: 60px;
    height: 60px;
}

#uol
{
    line-height: 100px;
    vertical-align: middle;
}

#title
{
    text-align: center;
    background-color: white;
}

#menu
{
    text-align: center;
    background: #21b4e2;
    font-size: 0;
    border-bottom: 1px #21b4e2 outset;
}

#roverBg
{
    background: linear-gradient(#E60000, #A10000);
    height: 100px;
    text-align: center;
}

.menuItemS
{
    font-size: 16px;
    display: inline-block;
    width: 24%;  
    max-width: 150px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    background: linear-gradient(#d6f9ff, #9ee8fa);
    border-left: 1px #21b4e2 inset;
}

.menuItemSR
{
    font-size: 16px;
    display: inline-block;
    width: 24%;  
    max-width: 150px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    background: linear-gradient(#d6f9ff, #9ee8fa);
    border-left: 1px #21b4e2 inset;
    border-right: 1px #21b4e2 inset;
}

.menuItemNS
{
    font-size: 16px;
    display: inline-block;
    width: 24%;  
    max-width: 150px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    background: linear-gradient(#21b4e2, #1e5799);
    border-left: 1px #21b4e2 inset;
}

.menuItemNSR
{
    font-size: 16px;
    display: inline-block;
    width: 24%;  
    max-width: 150px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    background: linear-gradient(#21b4e2, #1e5799);
    border-left: 1px #21b4e2 inset;
    border-right: 1px #21b4e2 outset;
}

.contentdiv
{
    width:75%;
    max-width: 750px;
    background-color: white;
}